/*desktop*/

@media screen and (min-width:768px){
    #advertencia {
        display: block !important;
    }
    main{
        display: none !important;
    }
    
}

/*mobile*/

#advertencia {
    display: none;
}
body{margin: 0;}

main {
    display: block;
    height: 100%;
    width: 100%;
}

/*Index*/

.cabeza {width: 100%;
    position: relative;
    left:10px;
    display: flex;
    flex-direction: column;
    height: 20%;
    align-items: center;
}

.cabeza img {width: 20vh;}

button {
    background-color: #ff0000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

